<footer>
<div>
  <div class="bg-immersvepink w-12 h-1 m-auto">
  </div>
  <h2 class="mb-6 text-2xl font-medium sm:text-3xl lg:text-4xl text-center m-4">CONNECTED ECOSYSTEM</h2>
  <div class="px-36">
    <div class="flex flex-row py-8">
      <img src="/img/mastercard.svg" alt="mastercard" class="m-auto w-36">
      <img src="/img/nfl.png" alt="non fungible labs" class="m-auto w-40">
      <img src="/img/centrapay.svg" alt="centrapay" class="m-auto w-40">
      <img src="/img/outlierventures.svg" alt="outlier ventures" class="m-auto w-40">
      <img src="/img/asm.png" alt="asm" class="m-auto w-40">
    </div>
      <div class="flex flex-row">
      <img src="/img/cennznet.svg" alt="cennznet" class="m-auto w-22">
      <img src="/img/otto.png" alt="otto" class="m-auto w-16">
      <img src="/img/netx.png" alt="netx" class="m-auto w-26">
    </div>
  </div>
</div>
</footer>