<div class=" fixed w-full top-0 bg-black">
  <div class="text-white lg:px-8 max-w-screen-xl mx-auto md:items-center">
    <header class="overflow-hidden"  x-data="{ mobileMenu: false}">
      <div class="relative z-10">
        <div class="flex justify-between py-4">
          <a href="/">
            <img class="h-9" src="/img/immersvelogo.svg" alt="logo placeholder">
          </a>
          <div class="bg-green-500">
            <a href="/" class="border-solid border-white rounded-full w-">
            APP
          </a>
            <a href="/">
            MINT
          </a>
            <div class="w-9 bg-red-500">
              {#  #}
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <hr>
</div>