<div class="bg-gray-900">

  <header class="relative px-6 py-4 overflow-hidden text-gray-600 bg-gray-100 lg:px-12 lg:py-5"  x-data="{ mobileMenu: false}">
    <img src="/img/urban-portal.jpg" alt="hero image" class="absolute inset-0 object-cover w-full h-full">
    <div class="absolute inset-0 bg-gradient-to-br from-indigo-900">
      &nbsp;
    </div>
    <div class="relative z-10">
      <div class="relative flex items-center max-w-screen-xl mx-auto ">
        <a href="/">
          <img class="h-9 rounded-md" src="/img/immersve-2.png" alt="logo placeholder">
        </a>
        <a href="/">
          <span class="px-4 text-white">Immersve</span>
        </a>
      </div>
      <div class="max-w-screen-xl mx-auto mt-8 mb-8 text-left lg:mt-20 xl:mt-40 lg:mb-20 xl:mb-32">
        <h2 class="text-2xl font-bold text-white sm:text-3xl md:text-4xl lg:text-5xl">DeFi for the Metaverse</h2>
        <p class="max-w-xl mt-4 text-xl leading-relaxed text-white ">Elegantly integrated Web3 and real-world payment experiences.</p>
        <div class="flex mt-8 lg:mt-12">
        </div>
      </div>
      <div class="grid max-w-screen-xl grid-cols-2 col-gap-6 mx-auto mt-8 mb-12 space-y-5 md:px-6 lg:px-12 xl:px-4 sm:grid-cols-3 sm:space-y-3 xl:grid-cols-6 lg:mt-10 lg:mb-32">
      </div>
    </div>
    <div class="absolute bottom-0 left-0 right-0 -mb-1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 100" class="text-black fill-current">
        <path class="currentColor" d="M0,0c0,0,900,95,2400,0v100H0L0,0z"></path>
      </svg>
    </div>
  </header>

</div>
