<!doctype html>
<html lang="en" styles="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ metadata.title }}</title>
    <meta property="og:title" content="{{ metadata.title }}">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:url" content="{{ config.baseUrl }}{{ page.url | url }}">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:image" content="{{ metadata.img }}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
  </head>
  <body class="font-sans bg-black">

    {{ content | safe }}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>