---
layout: base
title: Home
---

<div id="content">
  <div>
    <main class="font-bebasneue">

      {% include "header.njk" %}

      <div class="px-6 pt-12 pb-64 text-white lg:px-12 lg:pt-24 font-bebasneue">
        {# Page 1 #}
        <div class="grid max-w-screen-xl grid-cols-2 gap-8 mx-auto lg:gap-24 md:items-center md:h-screen">
          <div class="col-span-2 md:col-span-1 rounded-lg p-8 pt-16">
            <h1 class="text-4xl sm:text-5xl lg:text-7xl">WORLD'S FIRST</h2>
            <div class="flex flex-row">
              <h1 class="mb-8 text-4xl sm:text-5xl lg:text-7xl text-transparent bg-clip-text bg-gradient-to-r from-immersvepurple via-immersvepink to-immersveblue">MULTICHAIN&nbsp;</h2>
              <h1 class="mb-8 text-4xl sm:text-5xl lg:text-7xl">PROTOCOL</h2>
            </div>
            <div class="bg-immersvepink rounded-full inline-flex py-2 px-5 text-black hover:text-immersvepink hover:border-immersvepink hover:bg-black border-2 border-solid border-black rounded-full">
              <div >
                <svg class="w-5 h-5 fill-current m-1" viewBox="0 0 21 24">
                  <path xmlns="http://www.w3.org/2000/svg"  data-name="Icon awesome-discord" d="M13.932,11.4a1.228,1.228,0,1,1-1.224-1.332A1.278,1.278,0,0,1,13.932,11.4Zm-5.6-1.332a1.337,1.337,0,0,0,0,2.664A1.278,1.278,0,0,0,9.552,11.4,1.271,1.271,0,0,0,8.328,10.068ZM21,2.472V24c-3.023-2.672-2.056-1.787-5.568-5.052l.636,2.22H2.46A2.466,2.466,0,0,1,0,18.7V2.472A2.466,2.466,0,0,1,2.46,0H18.54A2.466,2.466,0,0,1,21,2.472ZM17.58,13.848a16.07,16.07,0,0,0-1.728-7,5.934,5.934,0,0,0-3.372-1.26l-.168.192A7.986,7.986,0,0,1,15.3,7.308,10.2,10.2,0,0,0,6.336,6.96c-.444.2-.708.348-.708.348A8.1,8.1,0,0,1,8.784,5.736l-.12-.144a5.934,5.934,0,0,0-3.372,1.26,16.07,16.07,0,0,0-1.728,7,4.351,4.351,0,0,0,3.66,1.824s.444-.54.8-1a3.732,3.732,0,0,1-2.1-1.416c.177.124.468.284.492.3a8.747,8.747,0,0,0,7.488.42,6.867,6.867,0,0,0,1.38-.708A3.787,3.787,0,0,1,13.116,14.7c.36.456.792.972.792.972A4.386,4.386,0,0,0,17.58,13.848Z"/>
                </svg>
              </div>
              <a href="#" class="px-1 text-xl">JOIN OUR DISCORD</a>
            </div>
          </div>
          <div class="flex flex-row col-span-2 space-x-2 md:col-span-1">
            <img src="/img/phone.png" alt="phone" class="w-full rounded-lg shadow-lg">
          </div>
          <div class="flex p-8 flex-row md:col-span-1 -mt-72">
            <a href='#ABOUTUS'><img src="/img/arrow.png"/></a>
          </div>
        </div>
        {# Page 2 #}
        <div class="grid max-w-screen-xl grid-cols-2 gap-8 mx-auto lg:gap-24 md:items-center md:h-screen" id="ABOUTUS">
          <div class="flex flex-row col-span-2 space-x-2 md:col-span-1">
            <img src="/img/game.png" alt="game" class="w-full rounded-lg shadow-lg">
          </div>
          <div class="col-span-2 md:col-span-1 rounded-lg p-8">
            <h2 class="mb-6 text-2xl font-medium sm:text-3xl lg:text-5xl">ABOUT US</h2>
            <p class="mb-6 text-l font-montserrat">Immersve enables the holders of cryptocurrencies, tokens and DeFi / Game-FI earnings in NFT wallets, exchanges or various protocols to leverage their holdings for their local Fiat currency to spend at real life merchants or transact in the Metaverse with their Agents or Avatars. Immersve provides a seamless bridge between in real life and Metaverse payments through a single payment protocol.</p>
            <p class="mb-6 text-l font-montserrat">In addition, the card has the added 'cool' effect of users being able to forge their favourite NFT on the card, displaying their handle (not their name) and earn a configurable real time reward that are relevant to their community (such as tokens, NFT's or even Stablecoins).</p>
            <p class="mb-6 text-l font-montserrat">Immersve will pioneer at pace, features and integrations for a unified payment experience across web2 / 3 and the Metaverse.</p>
            <p class="mb-6 text-l font-montserrat">The design is one of privacy first, products and experiences will be as decentralised as practically possible with open source code, API's and multi-chain protocols enabling anyone to extend or build on top of.</p>
          </div>
        </div>
        {# Page 3 #}
        <div class="max-w-screen-xl mx-auto"  id="ECOSYSTEM">
          <div class="bg-immersvepink w-16 h-1 m-auto mb-5"></div>
          <h2 class="mb-16 text-2xl font-medium sm:text-3xl lg:text-5xl text-center">CONNECTED ECOSYSTEM</h2>
          <div class="">
            <div class="flex justify-center mb-16 gap-24 flex-col lg:flex-row">
              <img src="/img/mastercard.svg" alt="mastercard" class="h-16 my-auto">
              <img src="/img/nfl.png" alt="non fungible labs" class="h-16 m-auto">
              <img src="/img/centrapay.svg" alt="centrapay" class="h-9 my-auto">
              <img src="/img/outlierventures.svg" alt="outlier ventures" class="h-5 my-auto">
              <img src="/img/asm.png" alt="asm" class="h-10 m-auto">
            </div>
            <div class="flex justify-center gap-24 flex-col lg:flex-row">
              <img src="/img/cennznet.svg" alt="cennznet" class="h-11 my-auto">
              <img src="/img/otto.png" alt="otto" class="h-7 m-auto lg:mx-0">
              <img src="/img/netx.png" alt="netx" class="h-6 m-auto lg:mx-0">
            </div>
          </div>
        </div>
      </div>

      {% include "footer.njk" %}

    </div>
  </div>