---
layout: base
title: Home
---

<div id="content">
  <div>
    <main class="font-medium text-gray-200 bg-black">

{% include "header.njk" %}

  <div class="px-6 pt-12 pb-20 text-gray-100 bg-black lg:px-12 lg:pt-24">
    <div class="grid max-w-screen-xl grid-cols-2 gap-8 mx-auto lg:gap-24 md:items-center">
      <div class="col-span-2 md:col-span-1 bg-gray-900 rounded-lg p-8">
        <h2 class="mb-6 text-2xl font-medium text-gray-200 sm:text-3xl lg:text-4xl">Collateralized borrowing using decentralized protocols</h2>
        <p class="mb-6 text-xl">Transact In real Life and earn NFTs as rewards</p>
        <p class="mb-6 text-xl">Leverage Web3 technology in your everyday spending and increase the security of your assets and identity.</p>
        <p class="text-xl">
          <a href="mailto:info@immersve.com" class="font-semibold text-indigo-600">Contact</a>
        </p>
      </div>
      <div class="flex flex-row col-span-2 space-x-2 md:col-span-1">
        <img src="/img/fluf-zombi.jpg" alt="" class="w-full rounded-lg shadow-lg">
      </div>
    </div>
  </div>


{% include "footer.njk" %}

  </div>
</div>
