---
layout: base
title: Mint
---

<div id="content">
  <div>
    <main class="font-bebasneue">

      {% include "header.njk" %}

      <div class="px-6 pt-12 pb-64 text-white lg:px-12 lg:pt-24 font-bebasneue h-screen">
        <h1 class="text-4xl sm:text-5xl lg:text-7xl text-center m-auto pt-16">Coming soon</h2>
      </div>
    </div>

    {% include "footer.njk" %}

  </div>
</div>