---
layout: base
title: Mint
---

<div id="content">
  <div>
    <main class="font-bebasneue">

      {% include "header.njk" %}

      <div class="px-6 pt-12 pb-64 text-white lg:px-12 lg:pt-24 font-bebasneue">
        {# Page 1 #}
        <div class="grid max-w-screen-xl grid-cols-1 gap-8 mx-auto lg:gap-24 md:items-center md:h-screen">
          <div class="col-span-1 md:col-span-1 rounded-lg p-8 pt-16">
            <h1 class="text-4xl sm:text-5xl lg:text-7xl">Coming soon</h2>
          </div>
        </div>
      </div>

      {% include "footer.njk" %}
      
    </div>
  </div>
